<!-- account_list.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Account List</h1>
  {% if accounts %}
    <table>
      <thead>
        <tr>
          <th>Account ID</th>
          <th>IBAN</th>
          <th>Balance</th>
          <th>Account Type</th>
        </tr>
      </thead>
      <tbody>
        {% for account in accounts %}
          <tr>
            <td><a href="{% url 'bank_app:account_details' account.id %}">{{ account.id }}</a></td>
            <td>{{ account.IBAN }}</td>
            <td>{{ account.balance }}</td>
            <td>{{ account.account_type }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No accounts available.</p>
  {% endif %}
{% endblock %}
