{% extends 'base.html' %}

{% block content %}
  <h1>Customers</h1>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Rank</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in object_list %}
        <tr>
          <td>{{ customer.user.username }}</td>
          <td>{{ customer.rank }}</td>
          <td>
            <a href="{% url 'bank_app:customer_update' customer.pk %}">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
